/* IMPOSTAZIONI GENERALI */

body{
    background-image: url(/assets/img/sfondo.png);
    font-family: 'Poppins', sans-serif;

}

/* HEADER */

header{
    margin: 5%;
    padding: 5%;
    background: linear-gradient(0deg, #217088 0%, #329dc2 100%);
    box-shadow: 0px 5px 5px #000000bd;
    font-size: 1.35rem;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    color: white;
}

header img{
    padding: 2rem;
}

header ul{
    list-style-type: none;    
    margin-left: 0;
    padding-bottom: 1rem;
}
li a{
    color: white;
    line-height: normal;
    text-decoration: none;
}

/* MAIN */

main{
    background-color: white;
    margin-top: 0;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0;
    padding: 10% 5%;
    box-shadow: 0px 5px 3px #000000bd;
    font-size: 1.35rem;
    line-height: normal;
    font-weight: 300;
}



/* ELEMENTI NEL MAIN - ARTICLE */

h1{
    font-size: 2.2rem;
    font-weight: 500;
    padding-bottom: 2rem;
}

article>p:nth-child(2){
    color: #97a99c;
}

strong{
    font-weight: 500;
    color: #a82c68;
}

p{
    padding-bottom: 2rem;
}

a{
    color: #3196c7;
    font-weight: 500;
}

ul, ol {
    margin-left: 2.5rem;
    padding-bottom: 2rem;
}

code{
    background-color: #e1e1e2;
    border-radius: 5px;
    border: solid 1px #666a69;
}

iframe{
    width: 100%;
    border-radius: 2rem;
}

/* TABELLE */

table{
    border-bottom: solid 3px #339ec8;
    margin-bottom: 2rem;
}

caption{
    font-style: italic;
    font-weight: 500;
}

thead{
    background-color: #4573e6;
    color: white;
    font-weight: 300;
}

th, td{
    padding: 1rem;
    text-align: center;
}

th{
    border: solid white 1px;
}


tbody tr:nth-child(even){
    background-color: #f2f2f2;
    border-bottom: solid 1px #dde3e4;
}

/* FORM */

section{
    background-color: #e3e0df;
    padding: 1.2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

section h2, aside h2{
    font-size: 2rem;
    padding-bottom: 2 rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
}

fieldset{
    height: 40px;
}

input {
    width: 250px;
    height: 40px;
    font-size: 20px;
    border: none;
    border-bottom: 2px dashed grey;
    margin: 0;
    padding: 0;
    text-indent: 5px ;
    font-weight: lighter;
}


button {
    width: 100px;
    height: 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #2d6bc8;
    border: none;
    margin: 0;
    padding: 0;
}

/* ELEMENTI NELL' ASIDE */

aside div{
    background-color: #e3e0df;
    padding: 1.2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border: solid 2px #ddd3d3;
}

aside a {
    color: #339ec8;
    font-weight: 500;
}

aside div p:last-child{
    font-size: 1rem;
    text-align: end;
    margin-bottom: 0;
    padding-bottom: 0;
}
    
/* FOOTER */

footer{
    margin: 5%;
    padding: 5%;
    box-shadow: 0px 5px 3px #000000bd;
    background: linear-gradient(0deg, #262728 0%, #175665 100%);
    font-size: 1.1rem;
    line-height: normal;
    font-weight: 300;
    text-align: center;
    color: white;
}

footer p{
    padding-bottom: 1.2rem;
}

address a{
    color: #f70eff;
    font-weight: 700;
}


