/* IMPOSTAZIONI GENERALI */

body{
    background-image: url(/assets/img/sfondo.png);
    font-family: 'Poppins', sans-serif;

}

/* HEADER */

header{
    height: 35vh;
    margin: 15px;
    padding: ;
    text-align: center;
    background-color: green;
}


/* MAIN */

main{
    background-color: white;
    margin-top: 0;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0;
    padding: 10% 5%;
    box-shadow: 0px 5px 3px #000000bd;
    font-size: 1.35rem;
    line-height: normal;
    font-weight: 300;
}



/* ELEMENTI NEL MAIN - ARTICLE */

h1{
    font-size: 2.2rem;
    font-weight: 500;
    padding-bottom: 2rem;
}

/* 
capire come fare la parte delle icone */

strong{
    font-weight: 500;
    color: #a82c68;
}

p{
    padding-bottom: 2rem;
}

ul, ol {
    margin-left: 2.5rem;
    padding-bottom: 2rem;
}

code{
    background-color: #e1e1e2;
    border-radius: 5px;
    border: solid 1px #666a69;
}

iframe{
    border-radius: 2rem;
    
}

/* TABELLE */



/* FORM */

section{
    background-color: #e3e0df;
    padding: 1.2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

section h2, aside h2{
    font-size: 2rem;
    padding-bottom: 2 rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
}

form{
    background-color: green;

}

fieldset{
    height: 30px;
}


/* ELEMENTI NELL' ASIDE */

aside div{
    background-color: #e3e0df;
    padding: 1.2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    
    
}

aside a {
    color: #339ec8;
    font-weight: 500;
}

aside div p:last-child{
    color: red;
    font-size: 1rem;
    text-align: end;
}


    
    
/* FOOTER */


